<h1 class="mx-auto text-center" style="width: 600px; margin-top: 5rem;">
  Pick a Chatroom
</h1>

<p class="text font-weight-bold">Current User: <%= user.username %></p>
<table class="table table-striped">
  <thread>
    <tr>
      <th>Topic</th>
      <th># People Chatting</th>
      <th></th>
    </tr>
  </thread>
  <tbody>
    <% rooms.forEach((room) => { %>
    <tr>
      <td><%= room.topic %></td>
      <td><%= "#" %></td>
      <td>
        <input type="submit" value="Enter" class="btn btn-success" />
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<a href="/rooms/new" class="btn btn-outline-primary">Create Chatroom</a>
<a href="/logout" class="btn btn-outline-danger">Log Out</a>
