<div class="mx-auto text-center" style="width: 600px; margin-top: 5rem;">
  <h1 class="text-center">Create a new room!</h1>
  <form method="post" action="/rooms">
    <input
      class="form-control form-control-lg"
      type="text"
      placeholder="Chatroom Name"
    />
    <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">
      Submit
    </button>
  </form>
</div>
