<div class="mx-auto text-center" style="width: 600px; margin-top: 5rem;">
  <h1 class="text-center">Let's Chat!</h1>
  <form method="post" action="/rooms">
    <input
      class="form-control form-control-lg"
      type="text"
      name="username"
      placeholder="Enter Your Username"
    />
    <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">
      Submit
    </button>
  </form>
</div>
